@model AddAuthenticatorViewModel
@{
    ViewData["Title"] = "Add Authenticator";
}

<h2>@ViewData["Title"].</h2>
<form asp-controller="Manage" asp-action="AddAuthenticator" method="post" class="form-horizontal">
    <h4>Add authenticator.</h4>
    <hr />
    <ol>
        <li>Go to your phone's App store.</li>
        <li>Search for "Authenticator App".</li>
        <li>Download an app.(E.g. AWS Virtual MFA, Google Authenticator, Authy, Microsoft Azure Authenticator)</li>
        <li>Use the app to scan the qrcode below.</li>
    </ol>
    <div id="qrcode"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Code" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" asp-for="HashAlgorithm" />
    <input type="hidden" asp-for="NumberOfDigits" />
    <input type="hidden" asp-for="PeriodInSeconds" />
    <input type="hidden" asp-for="Secret" />
    <input type="hidden" asp-for="Uri" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Add authenticator</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/lib/qrcode-js/qrcode.js"></script>
    <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: "@Html.Raw(Model.Uri)",
            width: 166,
            height: 166,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
    </script>
}
